<div class="margin">
    <div style="padding-top:100px">
        <button mat-button color="primary" class="sbmit padding center " routerLink="/issue-certificate">Go To Issue Certificate</button>
    </div>
    
    <div class="margin-top">
        <h2 class="head" style="text-align: center;">Verify Certificate</h2>
    <form [formGroup]="verifyForm">
        <mat-form-field appearance="fill" class="width30 padding position" >
            <mat-label class="placeholder">Enter ID</mat-label>
        <input
              matInput
              type="text"
              formControlName="pasteId"
              class=""
              
            />   
    </mat-form-field>
    <div class="fifthblock" >
        <button mat-button color="primary" class="sbmit padding" (click)="submitId()">Verify Certificate</button>

       </div>
    </form>
    </div>
    
    
</div>

